.container {
  background-color: #282c34;
  text-align: center;
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  display: flex;
}

.sidebar {
  background-color: #232325;
  flex: 1;

  height: 100vh;
}

.chartbox {
  flex: 4;
}
.sidebar-button {
  padding: 15px;
  border: 1px solid white;
  cursor: pointer;
  border-radius: 5px;
  text-align: left;
  margin: 10px;
  transition: ease 0.3s all;
  width: 250px;
  background-color: transparent;
  color: #ffff;

  display: flex;
  align-items: center;
}

.sidebar-button span {
  font-size: 20px;
  margin-right: 20px;
}

.sidebar-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
